.background
{
	background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: DarkRed;
}

ul.menu li
{
	float: left;
}

ul.menu li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

ul.menu li a:hover
{
	background-color: Crimson;
}

h1 
{
	text-align: center;
	color: white;
}

.poster 
{
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width:  80%;
    height: auto;
}

table #posters 
{
    max-width: 100%;
    margin: 0 auto;
    align: center;
}

table #posters th 
{
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 30px;
}

table #posters td 
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    color: white;
    font-size: 18px;
    text-align: center;
}

form .search
{
	align-content: center;
	text-align: center;
	margin: 0 auto;
}

